* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #feffd1 0%, #ffc9a5);
  font-family: "Source code pro";
}
a {
  text-decoration: none;
  color: #70de40;
}
h1 {
  font-size: 15px;
  color: #c4674b;
}
h2 {
  font-size: 13px;
  color: #8f4131;
}
span {
  color: #fdaa77;
}
#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  min-height: 100vh;
  padding: 0 20px;
}
#topo {
}
#perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#minha-foto {
  width: 150px;
  border: 2px inherit rgb(172, 111, 41);
  border-radius: 33% 67% 59% 41% / 24% 44% 56% 76%;
  box-shadow: 0px 0px 30px #fffed1;
}
#nome {
  font-size: larger;
  margin-top: 10px;
}
#função {
  margin-top: 3px;
}
#social-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
#social-icons {
  width: 25px;
}
ul li {
  list-style: none;
}
#content {
  padding-bottom: 2.5rem;
}
#links-list li {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}

#footer {
  position: sticky;
  top: 100%;
  width: 100%;
  color: #8f4131;
  text-align: center;
  font-weight: 700;
}
